
{% extends 'base.html' %}
{% load static %}
{% load i18n %}


  <title>Diário de Bordo da Inclusão</title>
  {% block extra_css %}
  <link rel="stylesheet" href="{% static 'diario/css/home.css' %}">
  <link rel="stylesheet" href="{% static 'diario/css/emotions.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
 {% endblock %}


 {% block content %}
<main class="main-content" role="main">

  <div class="container">

    <div class="hero">
      <div style="font-size:14px; opacity:0.8;">☀️ Boa tarde</div>
      <h1>Olá, lucasryangomes 👋</h1>
      <p>Este é o seu espaço seguro. Como você está se sentindo hoje?</p>
    </div>

    <div class="section-title">✨ O que você gostaria de fazer?</div>

    <div class="cards">
      <a href="{% url 'emotions' %}" class="card">
        <div class="icon-box green">💚</div>
        <h3>Registrar Sentimento</h3>
        <p>Como você está se sentindo agora?</p>
      </a>



      <a href="{% url 'historico' %}" class="card">
        <div class="icon-box orange">⏱</div>
        <h3>Meu Histórico</h3>
        <p>Veja sua jornada emocional</p>
      </a>


      <a href="{% url 'sobre' %}" class="card">
        <div class="icon-box purple">📊</div>
        <h3>Sobre</h3>
        <p>Informações gerais e contexto do sistema.</p>
      </a>



    </div>

    <div class="info">
      <div class="info-icon">
        <img src="{% static 'diario/img/emocoes/coracao.png' %}" alt="">
      </div>

      <div>
        <h4>Lembre-se: seus sentimentos são válidos</h4>
        <p>Estamos aqui para te apoiar. Não hesite em registrar como você se sente.</p>
      </div>
    </div>

  </div>

  </main>
  <footer>
    <div>🛡 Seus dados são protegidos conforme a LGPD</div>
    <div>© 2024 Diário de Bordo da Inclusão - NAPN</div>
  </footer>

{% endblock %}