{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'diario/css/homePage.css' %}">
</head>

<body>
    <main>
        <div class="home-container ">
            <div class="container-icon">
                <img class="icon-logo" src="{% static 'diario/img/emocoes/starHome.png' %}"
                    alt="Ícone do Diário de Bordo">
                <p>Tecnologia a serviço da inclusão</p>
            </div>

            <h1 class="titulo">
                Diário de 
                <span class="titulo-gradient"> Bordo <br> da Inclusão</span>
            </h1>
            <p class="subtitle">
                Análise emocional inteligente para um ambiente educacional mais <br>
                 <span class="subtitle-green">acolhedor,</span>
        
                 <span class="subtitle-purple">inclusivo,</span>
                 e
                 <span class="subtitle-blue">humano.</span>

            </p>
                

            <div class="container-button">
                <a href="" class="button-login">
                    <img src="" alt="">Entrar</a>
                <a href="" class="button-register">
                    <img src="" alt="">Cadastro</a>
            </div>

            <div class="container-icone">

                <div class="iconexample-1">
                    <img src="" alt=""> Bem-estar emocional
                </div>
                <div class="iconexample-2">
                    <img src="" alt="">IA para análise
                </div>
                <div class="iconexample-3">
                    <img src="" alt="">Apoio inclusivo
                </div>
            </div>

        </div>
    </main>

    <footer>

    </footer>


</body>

</html>