{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'diario/css/base.css' %}">
<link rel="stylesheet" href="{% static 'diario/css/sobre.css' %}">

{% endblock %}

{% block content %}


<main class="main-content" role="main">

<div class="container">

    <h1>Sobre o Projeto</h1>
    <p class="subtitle">
        Um sistema voltado para inclusão, bem-estar emocional e apoio educacional.
    </p>

    <div class="section">
        <h2>Descrição</h2>
        <p>
            O Diário de Bordo da Inclusão é um projeto desenvolvido como Trabalho de Conclusão de Curso (TCC),
            com foco no acompanhamento emocional de alunos. A proposta utiliza tecnologia para coletar e analisar
            dados emocionais, auxiliando educadores na tomada de decisões.
        </p>
    </div>

    <div class="section">
        <h2>Objetivo</h2>
        <p>
            Promover inclusão e oferecer uma ferramenta que permita identificar padrões emocionais,
            contribuindo para um ambiente educacional mais acolhedor e eficiente.
        </p>
    </div>

    <div class="section">
        <h2>Tecnologias</h2>
        <div class="tech-list">
            <div class="tech">Python</div>
            <div class="tech">Django</div>
            <div class="tech">PostgreSQL</div>
            <div class="tech">HTML</div>
            <div class="tech">CSS</div>
            <div class="tech">JavaScript</div>
            <div class="tech">APIs REST</div>
            <div class="tech">NLP</div>
        </div>
    </div>

    <div class="section">
        <h2>Equipe</h2>

        <div class="team">

            <div class="card">
                <img src="{% static 'diario/img/emocoes/minhafoto.png' %}" alt="Foto do aluno">
                <h3>Lucas Ryan</h3>
                <span>Desenvolvedor</span>
            </div>

            <div class="card">
                <img src="{% static 'diario/img/emocoes/orientador.png' %}" alt="Foto do orientador">
                <h3>Woquiton Lima </h3>
                <span>Orientador</span>
            </div>

        </div>
    </div>

</div>
</main>
{% endblock %}
    

